/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*BASE*/
@font-face{
	font-family: 'Helvetica Neue';
	src: url(../fonts/HelveticaNeue-Medium.otf);
}
@font-face{
	font-family: 'Altemate Gothic';
	src: url(../fonts/Alternate_Gothic_No.ttf);
}
body{
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	background: repeating-linear-gradient(to left top, rgba(67, 75, 84, 1) 50%, rgba(82, 91, 100, 1) 50%);
	padding: 70px;
}
header{
	background: #f5f5f5;
}
article{
	background: #f5f5f5;
	padding: 40px 30px 30px 40px;
}
section{
	background: #f5f5f5;;
}
footer{
	background: #f5f5f5;
}
h1{
	font-size: 21px;
	font-weight: bold;
	padding: 21px 0 21px 0;
}
p{
	font-size: 14px;
	line-height: 1.7723;
	color: #737373;
}
a{
	text-decoration: none;
	color: #65a0b8;
}
button{
	cursor: pointer;
}
.button{
	width: 112px;
	height: 32px;
	font-family: 'Helvetica Neue';
	font-size: 10px;
	color: #fff;
	border: none;
	border-radius: 2px;
}
.barbell{
	display: inline-block;
	height: 40px;
	border-left: 1px solid grey;
	vertical-align: middle;
}
.currency-sign:before{
	content: '£';
}
/*GRID*/
.wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	grid-auto-rows: minmax(50px, auto);
}
.header{
	grid-column: 1/4;
	padding: 20px;
}
.content{
	grid-column: 1/4;
	background-image: url("../images/article_bg.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: contain;
}
.product{
	grid-column: 1/2;
}
.chart{
	grid-column: 2/4;
}
.shopping-bag{
	grid-column: 1/3;
	padding: 20px 30px;
}
.map{
	grid-column: 3/4;
}
.footer{
	grid-column: 1/4;
	padding: 13px 50px 13px 50px;
}
/*PRODJECT*/
	/*header*/
.header span{
	margin-right: 30px;
	font-weight: bold;
}
.nav{
	display: inline-block;
	margin-left: 20px;
}
.nav_item{
	display: inline-block;
}
.nav a{
	font-size: 0.750em;
	color: #737373;
	margin: 0 20px 0 20px;
}
.form_search{
	display: inline-block;
	float: right;
}
.form_search input{
	background: rgb(0, 0, 0, 0);
	border: none;
}
.form_search button{
	background: none;
	border: none;
	vertical-align: middle;
}
	/*Article "article" -> content*/
.logo{
	display: inline-block;
	margin-bottom: 24px;
}
.content{
	position: relative;
}
.content p{
	width: 44%;
	min-width: 480px;
	margin-bottom: 50px;
}
.logo_2{
	position: absolute;
	top: 40px;
	right: 40px;
}
.content>span{
	position: absolute;
	bottom: 20px;
	right: 30px;
	font-family: 'Altemate Gothic';
	color: #fff;
	font-size: 72px;
}
.content_button{
	display: inline-block;
	width: 152px;
	height: 42px;
	text-align: center;
	font-family: 'Helvetica Neue';
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 2px;
	background:  linear-gradient(to left bottom, #7bc488, #51a460);
}
.content_button span{
	display: inline-block;
	margin-top: 8.5%;
}
	/* Section "section -> product"*/
.product_photo{
	position: relative;
	width: 100%;
	height: 240px;
}
.product_photo > img{
	width: 100%;
	height: 15.000em;
}
.product_photo_logo-brand{
	position: absolute;
	bottom: 0;
	right: 0;
}
.product_description{
	position: relative;
	font-size: 12px;
	padding: 20px 30px 20px 30px;
}
.product_description_name{
	font-size: 21px;
	font-weight: bold;
}
.product_description > span{
	display: block;
	margin: 12px 0;
}
.product_description_color{
	color: #444444;
}
.product select{
	display: inline;
	-webkit-appearance: none;
	-moz-appearance: none;
 	appearance: none;
	border: none;
	color: #65a0b8;
}
.product_description_size{
	margin-bottom: 25px;
}
.product_description_price{
	font-size: 28px;
}
.product_buttom{
	position: absolute;
	bottom: 20px;
	right: 30px;
	background:  linear-gradient(to left bottom, #8ec9e0, #66a1b9);
}

/* Section "section -> shopping_list"*/
.shopping-bag span:first-child{
	display: inline-block;
	font-size: 21px;
	font-weight: bolder;
	margin: 10px 0 5px 0;
}
.shopping-bag li{
	position: relative;
	display: flex;
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
}
.shopping-bag li:last-child{
	border: none;
}
.shopping-bag_name{
	margin-top: 25px;
}
.shopping-bag_name{
	margin-left: 10px;
}
.shopping-bag_remove{
	font-size: 10px;
	margin: 30px 0 0 10px;
}
.shopping-bag_counter{
	display: table-cell;
	width: 31px;
	height: 21px;
	font-size: 14px;
	margin-right: 100px;
	border: 1px solid #dddddd;
	margin-top: 15px;
	padding-top: 10px;
	text-align: center;
}
.shopping-bag_price{
	font-size: 21px;
	margin-top: 20px;
}
.shopping-bag span:last-child,
.shopping-bag_counter{
	position: absolute;
	right: 0;
}
.shopping-bag_total,
.shopping-bag_total-price{
	display: inline-block;
	font-size: 24px;
	line-height: 1;
	margin: 10px 0 0 0;
}
.shopping-bag_button{
	float: right;
	background:  linear-gradient(to left bottom, #f6a312, #e98f13);
}
	/* Section "section" -> map>"*/
.google_map{
	width: 100%;
	height: 328px;
	background-image: url('../images/map_pin.png');
	background-size: cover;
}
.map_name-point{
	padding: 20px 30px;
}
.map_name-point span:first-child{
	display: inline-block;
	font-size: 21px;
	font-weight: bold;
	line-height: 0.61;
}
.map_name-point span:last-child{
	display: inline-block;
	font-size: 12px;
	font-weight: lighter;
	line-height: 0.61;
}
/* footer */
.footer span{
	display: inline-block;
	font-size: 12px;
	margin: 5px 40px 0 0;
}
.footer div{
	height: 13px;
}
.footer_share{
	float: right;
}
.footer_share li{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-top: 2px;
	margin-left: 5px;
	background-repeat: no-repeat;
}
.twitter{
	background-image: url('../images/Twitter.png');
}
.facebook{
	background-image: url('../images/Facebook.png');
	background-position: center;
	margin-bottom: 2px;
}
.vimeo{
	background-image: url('../images/Vimeo.png');
}
.pinterest{
	background-image: url('../images/Pinterest.png');
	margin-bottom: 1px;
}
.twitter:hover{
	background-image: url('../images/twitter_a.png');
}
.facebook:hover{
	background-image: url('../images/facebook_a.png');
	background-position: center;
	margin-bottom: 2px;
}
.vimeo:hover{
	background-image: url('../images/vimeo_a.png');
}
.pinterest:hover{
	background-image: url('../images/pinterest_a.png');
	margin-bottom: 1px;
}
.nav_item a:hover{
	border-bottom: 3px solid black;
	padding-bottom: 10px;
}
.nav_item a:active{
	border-bottom: 3px solid grey;
	padding-bottom: 10px;
}